
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:papayawhip;
    margin: 0;
}

.stopwatch {
    text-align: center;
    background: whitesmoke;
    border-radius:8px;
    padding:40px;
    box-shadow:0 0 5px  black;
}

.display {
    font-size: 48px;
    margin-bottom: 20px;
}

.controls button {
    font-size: 16px;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    border:none;
    background: violet;
    color: black;
    cursor:pointer;

}

.laps {
    margin-top: 20px;
}

.lap-item {
    font-size: 14px;
    margin: 5px 0;
}
